<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout height="100%" width="100%">
    <StackLayout
      width="95%"
      height="100%"
      verticalAlignment="middle"
      horizontalAlignment="center"
    >
      <Button class="listingButton" text="Create Listings" (tap)="onCreateListing()"></Button>
      <Button class="warehouseButton" marginTop="3%" text="Manage Warehouse" (tap)="onManageWarehouse()"></Button>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
