.listingButton {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}

.listingButton:active{
  background-color:white;
  color:#2196f3;
  border-width: 1;
  border-color: black;
}

.warehouseButton{
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}

.warehouseButton:active{
  background-color:white;
  color:#2196f3;
  border-width: 1;
  border-color: black;
}