<FlexboxLayout
  width="100%"
  height="78%"
  marginBottom="5%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout
    rows="auto,auto,auto,auto auto,auto,auto,auto"
    width="100%"
    height="100%"
  >
    <StackLayout
      row="0"
      width="95%"
      marginTop="20"
      horizontalAlignment="center"
    >
      <TextInputLayout
        color="#8C8C8C"
        style.placeholderColor="#8C8C8C"
        hint="Quantity"
        hintAnimationEnabled="true"
      >
        <TextField color="black" fontSize="16px"></TextField>
      </TextInputLayout>
    </StackLayout>
    <GridLayout row="1" columns="auto,auto,auto" marginTop="3%" width="95%">
      <StackLayout col="1" width="25%" height="100%" marginLeft="45%">
        <Label
          fontSize="16px"
          color="{{ auctionColor }}"
          textAlignment="center"
          text="Start Price"
        ></Label>
      </StackLayout>
      <StackLayout col="2" width="25%" height="100%" marginLeft="5%">
        <Label
          fontSize="16px"
          color="{{ auctionColor }}"
          textAlignment="center"
          text="Duration"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="2" columns="auto,auto,auto" height="40" width="95%">
      <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
        <Button
          class="button-style"
          backgroundColor="{{ auctionBackColor }}"
          borderColor="{{ auctionColor }}"
          color="white"
          text="Auction"
          (tap)="auctionClick()"
        ></Button>
      </StackLayout>
      <StackLayout
        col="1"
        marginLeft="5%"
        width="25%"
        height="100%"
        verticalAlignment="middle"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="{{ auctionColor }}"
      >
        <TextField
          color="black"
          fontSize="16px"
          editable="{{ editableAuctionStatus }}"
        ></TextField>
      </StackLayout>
      <StackLayout
        col="2"
        marginLeft="5%"
        width="25%"
        height="100%"
        verticalAlignment="middle"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="{{ auctionColor }}"
      >
        <DropDown
          [items]="duration"
          [(ngModel)]="selectedIndexAuctionDuration"
          (selectedIndexChanged)="onchangeAuctionDuration($event)"
          (opened)="onOpenAuctionDuration()"
          (closed)="onCloseAuctionDuration()"
          isEnabled="{{ dropAuctionEnable }}"
        >
        </DropDown>
      </StackLayout>
    </GridLayout>
    <GridLayout row="3" columns="auto,auto,auto" marginTop="3%" width="95%">
      <StackLayout col="1" width="25%" height="100%" marginLeft="45%">
        <Label
          fontSize="16px"
          color="{{ fixedPriceColor }}"
          textAlignment="center"
          text="Fixed Price"
        ></Label>
      </StackLayout>
      <StackLayout col="2" width="25%" height="100%" marginLeft="5%">
        <Label
          fontSize="16px"
          color="{{ fixedPriceColor }}"
          textAlignment="center"
          text="Duration"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="4" columns="auto,auto,auto" height="40" width="95%">
      <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
        <Button
          class="button-style"
          backgroundColor="{{ fixedBackColor }}"
          borderColor="{{ fixedPriceColor }}"
          text="Fixed Price"
          color="white"
          (tap)="fixedPriceClick()"
        ></Button>
      </StackLayout>
      <StackLayout
        col="1"
        marginLeft="5%"
        width="25%"
        height="100%"
        verticalAlignment="middle"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="{{ fixedPriceColor }}"
      >
        <TextField
          color="black"
          fontSize="16px"
          editable="{{ editableFixedStatus }}"
        ></TextField>
      </StackLayout>
      <StackLayout
        col="2"
        marginLeft="5%"
        width="25%"
        height="100%"
        verticalAlignment="middle"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="{{ fixedPriceColor }}"
      >
        <DropDown
          [items]="duration"
          [(ngModel)]="selectedIndexFixedDuration"
          (selectedIndexChanged)="onchangeFixedDuration($event)"
          (opened)="onOpenFixedDuration()"
          (closed)="onCloseFixedDuration()"
          isEnabled="{{ dropFixedEnable }}"
        >
        </DropDown>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="5"
      marginTop="5%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ acceptOffer ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ acceptOffer ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="acceptOfferClick()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="offer-label"
          text="Accept Offers"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="6"
      columns="auto,auto"
      marginTop="3%"
      height="40"
      width="95%"
    >
      <StackLayout col="0" width="40%" verticalAlignment="middle" height="100%">
        <Label
          class="label"
          color="{{ autoAcceptColor }}"
          text="Auto Accept"
        ></Label>
      </StackLayout>
      <StackLayout
        col="2"
        marginLeft="5%"
        width="25%"
        height="100%"
        horizontalAlignment="center"
        verticalAlignment="middle"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="{{ autoAcceptColor }}"
      >
        <TextField
          color="black"
          fontSize="16px"
          editable="{{ editableAutoStatus }}"
        ></TextField>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="7"
      columns="auto,auto"
      height="40"
      marginTop="3%"
      width="95%"
    >
      <StackLayout col="0" width="40%" verticalAlignment="middle" height="100%">
        <Label
          class="label"
          color="{{ autoAcceptColor }}"
          text="Auto Reject"
        ></Label>
      </StackLayout>
      <StackLayout
        col="2"
        marginLeft="5%"
        width="25%"
        height="100%"
        horizontalAlignment="center"
        verticalAlignment="middle"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="{{ autoAcceptColor }}"
      >
        <TextField
          color="black"
          fontSize="16px"
          editable="{{ editableAutoStatus }}"
        ></TextField>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Selling Details"></Label>
  </StackLayout>
</GridLayout>
