.button-style {
  text-align: center;
  border-width: 1px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: none;
}
.radio-on-style {
  width: 20;
  height: 20;
}

.radio-off-style {
  width: 20;
  height: 20;
}
.offer-label {
  font-size: 16px;
  color: black;
}
.label {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-top: 3%;
}
.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
