<FlexboxLayout
  width="100%"
  height="78%"
  marginBottom="5%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout width="100%" height="100%" rows="auto,auto,auto">
    <GridLayout
      row="0"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ return1 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ return1 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="returnOption1()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="return-style"
          text="Domestic returns accepted"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="1"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ return2 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ return2 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="returnOption2()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="return-style"
          text="International returns accepted"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="2"
      rows="auto,auto"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
    >
      <Label
        row="0"
        horizontalAlignment="left"
        verticalAlignment="middle"
        class="return-style"
        text="Returns will not be accepted unless you select domestic or international return options above"
      ></Label>
      <Label
        row="1"
        horizontalAlignment="left"
        verticalAlignment="middle"
        class="return-style"
        text="Learn more"
        color="#2196F3"
      ></Label>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="label" text="Return Options"></Label>
  </StackLayout>
</GridLayout>
