<FlexboxLayout
  width="100%"
  height="68%"
  marginBottom="10%"
  marginTop="22%"
  (swipe)="onSwipe($event)"
>
  <GridLayout height="100%" width="100%" rows="auto,auto,auto">
    <GridLayout
      row="0"
      width="95%"
      height="15%"
      marginTop="3%"
      horizontalAlignment="center"
    >
      <Label
        class="categoryList"
        textWrap="true"
        text="{{ categoryList }}"
      ></Label>
    </GridLayout>
    <StackLayout
      *ngIf="isVisible1"
      row="1"
      width="95%"
      marginTop="3%"
      height="150"
      horizontalAlignment="center"
      borderColor="#8C8C8C"
      borderWidth="2"
    >
      <ListView
        [items]="categories1"
        (itemTap)="onCategoryTap1($event)"
        height="100%"
        separatorColor="gray"
      >
        <ng-template let-item="item">
          <GridLayout>
            <Label
              height="30"
              fontSize="16"
              textAlign="center"
              color="black"
              fontWeight="500"
              [text]="item.name"
            ></Label>
          </GridLayout>
        </ng-template>
      </ListView>
    </StackLayout>
    <StackLayout
      *ngIf="isVisible2"
      row="2"
      width="95%"
      marginTop="3%"
      height="150"
      horizontalAlignment="center"
      borderColor="#8C8C8C"
      borderWidth="2"
    >
      <ListView
        [items]="categories2"
        (itemTap)="onCategoryTap2($event)"
        height="100%"
        separatorColor="gray"
      >
        <ng-template let-item="item">
          <GridLayout>
            <Label
              height="30"
              fontSize="16"
              color="black"
              fontWeight="500"
              [text]="item.name"
            ></Label>
          </GridLayout>
        </ng-template>
      </ListView>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="label" text="Choose Category"></Label>
  </StackLayout>
</GridLayout>
