<FlexboxLayout
  width="100%"
  height="73%"
  marginBottom="10%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout rows="auto,auto,auto,auto,auto" width="100%" height="100%">
    <StackLayout
      row="0"
      width="95%"
      height="10%"
      marginTop="3%"
      horizontalAlignment="center"
    >
      <Button class="suggested-buttons" text="{{ category }}"></Button>
    </StackLayout>
    <StackLayout
      row="1"
      width="95%"
      height="10%"
      marginTop="3%"
      horizontalAlignment="center"
    >
      <Button class="suggested-buttons" text="{{ category }}"></Button>
    </StackLayout>
    <StackLayout
      row="2"
      width="95%"
      height="10%"
      marginTop="3%"
      horizontalAlignment="center"
    >
      <Button class="suggested-buttons" text="{{ category }}"></Button>
    </StackLayout>
    <StackLayout
      row="3"
      width="95%"
      height="10%"
      marginTop="3%"
      horizontalAlignment="center"
    >
      <Button class="suggested-buttons" text="{{ category }}"></Button>
    </StackLayout>
    <StackLayout
      row="4"
      width="95%"
      height="10%"
      marginTop="3%"
      horizontalAlignment="center"
    >
      <Button
        class="find-category-button"
        text="Choose Different Category"
      ></Button>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center" verticalAlignment="bottom">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <label class="label" text="Suggested Categories"></label>
  </StackLayout>
</GridLayout>
