<FlexboxLayout
  width="100%"
  height="73%"
  marginBottom="10%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout width="100%" height="100%">
    <StackLayout width="95%" marginTop="3%" horizontalAlignment="center">
      <TextInputLayout
        color="black"
        style.placeholderColor="#8C8C8C"
        hint="Enter Title*"
        hintAnimationEnabled="true"
      >
        <TextField color="black"></TextField>
      </TextInputLayout>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" verticalAlignment="bottom" horizontalAlignment="center">
  <label
    class="label"
    horizontalAlignment="center"
    verticalAlignment="bottom"
    text="Title"
  ></label>
</GridLayout>
