.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.suggested-buttons {
  text-align: left;
  border-color: black;
  border-width: 1;
  font-size: 16;
  text-transform: none;
}
.find-category-button {
  color:white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.find-category-button:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
