<FlexboxLayout
  width="100%"
  height="78%"
  marginBottom="5%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout
    width="100%"
    height="100%"
    rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto"
  >
    <GridLayout
      row="0"
      marginTop="3%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment1 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment1 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick1()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="PayPal"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="1"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment2 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment2 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick2()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Money Order / Bank Cheque"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="2"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment3 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment3 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick3()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Personal Cheque"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="3"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment4 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment4 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick4()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Visa / Master Card"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="4"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment5 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment5 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick5()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="American Express"
        ></Label>
      </StackLayout>
    </GridLayout>

    <GridLayout
      row="5"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment6 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment6 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick6()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Bank Deposit"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="6"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment7 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment7 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick7()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="COD"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="7"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment8 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment8 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick8()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Pay on Pickup"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="8"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment9 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment9 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick9()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Other (add instructions)"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="9"
      marginTop="2%"
      width="95%"
      height="6%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ payment10 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ payment10 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="paymentClick10()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="payment-style"
          text="Escrow"
        ></Label>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Payment Options"></Label>
  </StackLayout>
</GridLayout>
