.radio-on-style {
  width: 20;
  height: 20;
}

.radio-off-style {
  width: 20;
  height: 20;
}

.label {
  color: black;
  font-size: 24%;
  font-weight: 500;
  margin-top: 5%;
}
.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.payment-style {
  font-size: 16px;
  color: black;
}
