.radio-on-style {
  width: 20;
  height: 20;
}

.radio-off-style {
  width: 20;
  height: 20;
}

.label {
  color: black;
  font-size: 24%;
  font-weight: 500;
  margin-top: 5%;
}
.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.radio-label-style {
  font-size: 16px;
  color: black;
}
.buttons {
  height:100%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.buttons:active{
  background-color:white;
  color:#2196f3;
  border-width: 1;
  border-color: black;
}