<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout
    width="100%"
    height="100%"
    rows="auto,auto,auto,auto"
  >
  <GridLayout
    row="0"
    width="95%"
    height="10%"
    columns="auto,auto,auto"
  >
  <StackLayout col="0" width="30%" height="80%" verticalAlignment="middle">
      <Button class="buttons" text="Copy" (tap)="onCopy()"></Button>
    </StackLayout>
    <StackLayout col="1" width="30%" height="80%" marginLeft="5%" verticalAlignment="middle">
        <Button class="buttons" text="Edit" (tap)="onEdit()"></Button>
      </StackLayout>
      <StackLayout col="2" width="30%" height="80%" marginLeft="5%" verticalAlignment="middle">
          <Button class="buttons" text="Delete" (tap)="onDelete()"></Button>
        </StackLayout>
  </GridLayout>
  <GridLayout
    row="1"
    width="100%"
    height="70%"
    rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto"
  >
    <GridLayout
      row="0"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing1 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing1 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick1()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 1"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="1"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing2 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing2 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick2()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 2"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="2"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing3 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing3 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick3()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 3"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="3"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing4 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing4 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick4()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 4"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="4"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing5 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing5 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick5()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 5"
        ></Label>
      </StackLayout>
    </GridLayout>

    <GridLayout
      row="5"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing6 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing6 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick6()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 6"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="6"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing7 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing7 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick7()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 7"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="7"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing8 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing8 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick8()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 8"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="8"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing9 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing9 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick9()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 9"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="9"
      marginTop="2%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ listing10 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ listing10 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="listingClick10()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="radio-label-style"
          text="Listing 10"
        ></Label>
      </StackLayout>
    </GridLayout>
  </GridLayout>
  <StackLayout row="2" width="95%" height="10%" verticalAlignment="middle">
      <Button class="buttons" text="Proceed" (tap)="onProceed()"></Button>
    </StackLayout>
    <GridLayout row="3" width="95%" height="10%" horizontalAlignment="center">
        <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
          <Label class="bottom-label" text="Edit Listings"></Label>
        </StackLayout>
      </GridLayout>
  </GridLayout>
</FlexboxLayout>
