<FlexboxLayout
  width="100%"
  height="73%"
  marginBottom="10%"
  marginTop="17%"
  xmlns:CheckBox="nativescript-checkbox"
  (swipe)="onSwipe($event)"
>
  <GridLayout
    rows="auto,auto,auto,auto,auto,auto,auto,auto"
    height="100%"
    width="100%"
  >
    <StackLayout
      row="0"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <DropDown
        color="black"
        fontSize="16"
        [(ngModel)]="selectedBrandIndex"
        [items]="brandNames"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Brand*"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="1" class="drop-down-container">
      <DropDown
        color="black"
        fontSize="16"
        [(ngModel)]="selectedMPNIndex"
        [items]="mpn"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="MPN*"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="2" class="drop-down-container">
      <DropDown
        color="black"
        fontSize="16"
        [(ngModel)]="selectedTypeIndex"
        [items]="type"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Type"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="3" class="drop-down-container">
      <DropDown
        color="black"
        fontSize="16"
        [(ngModel)]="selectedSystemIndex"
        [items]="system"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="System"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="4" class="drop-down-container">
      <DropDown
        color="black"
        fontSize="16"
        [(ngModel)]="selectedModelIndex"
        [items]="model"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Model"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="5" class="drop-down-container">
      <DropDown
        color="black"
        fontSize="16"
        [(ngModel)]="selectedDisplayIndex"
        [items]="displayType"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Display Type"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="6" class="label-container">
      <label class="label" text="Features"></label>
    </StackLayout>
    <StackLayout row="7" class="check-box-container">
      <CheckBox:CheckBox
        checked="false"
        text="{{ feature1 }}"
        fillColor="{{ myCheckColor }}"
      />

      <CheckBox:CheckBox
        text="{{ feature2 }}"
        checked="false"
        fillColor="{{ myCheckColor }}"
      />
      <CheckBox:CheckBox
        text="{{ feature3 }}"
        checked="false"
        fillColor="{{ myCheckColor }}"
      />
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Item Specifies"></Label>
  </StackLayout>
</GridLayout>
