.drop-down-container {
  height: 6%;
  width: 95%;
  margin-top: 3%;
  border-width: 1;
  border-radius: 5;
  vertical-align: middle;
}
.label-container {
  width: 95%;
  height: 6%;
  margin-top: 3%;
  vertical-align: middle;
}
.label{
  color: black;
  font-size: 24%;
  font-weight: 500;
  margin-top: 5%;
}
.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.check-box-container {
  width: 95%;
  margin-top: 3%;
  vertical-align: middle;
}
