.grid-container {
  background-color: white;
}

.radio-on-style {
  width: 20;
  height: 20;
}

.radio-off-style {
  width: 20;
  height: 20;
}

.label {
  width: 100%;
  color: black;
  font-size: 24%;
  font-weight: 500;
  margin-top: 5%;
}

.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}

.condition-style {
  font-size: 16px;
  color: black;
}

.action-bar {
  background-color: #464646;
}

.action_image {
  height: 60;
  width: 60%;
}
.text-view {
  border-width: 1;
  width: 100%;
  height: 100%;
  border-color: black;
}
