<FlexboxLayout
  width="100%"
  height="73%"
  marginBottom="10%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout
    backgroundColor="transparent"
    width="100%"
    height="100%"
    class="grid-container"
    rows="auto,auto,auto,auto,auto,auto,auto,auto"
  >
    <GridLayout
      row="0"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          src="{{ condition1 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ condition1 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="conditionClick1()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label col="1" class="condition-style" text="Brand New"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="1"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          src="{{ condition2 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ condition2 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="conditionClick2()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label col="1" class="condition-style" text="New: Never Used"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="2"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          src="{{ condition3 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ condition3 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="conditionClick3()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          class="condition-style"
          text="Manufacturer Refurbished"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="3"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          src="{{ condition4 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ condition4 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="conditionClick4()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          class="condition-style"
          text="Seller Refurbished"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="4"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          src="{{ condition5 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ condition5 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="conditionClick5()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label col="1" class="condition-style" text="Used"></Label>
      </StackLayout>
    </GridLayout>

    <GridLayout
      row="5"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          src="{{ condition6 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ condition6 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="conditionClick6()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          class="condition-style"
          text="For Parts or not working"
        ></Label>
      </StackLayout>
    </GridLayout>
    <StackLayout row="6" marginTop="3%" width="95%">
      <label class="label" text="Condition Description*"></label>
    </StackLayout>
    <StackLayout row="7" marginTop="3%" width="95%" height="30%">
      <TextView class="text-view"></TextView>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Condition"></Label>
  </StackLayout>
</GridLayout>
