.action-bar {
  background-color: #464646;
  height: 10%;
}
.action_image {
  height: 90%;
  width: 60%;
}
.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.login-button {
  width: 100;
  height: 40;
  color: white;
  background-color: #4d8bf8;
  border-radius: 5;
}

.done-icon {
  height: 50;
  width: 50;
  margin-bottom: 25;
}

.bg-white {
  background-color: #ffffff;
}

.icon {
  background-repeat: no-repeat;
}

.iconSize {
  background-position: center;
  background-size: contain;
}

.flash {
  background-repeat: no-repeat;
  background-image: url("res://flash");
  background-position: center;
  background-size: contain;
}

.flash-focus {
  background-image: url("res://flash_focus");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rare {
  background-repeat: no-repeat;
  background-image: url("res://camera_rot");
  background-position: center;
  background-size: contain;
}

.front {
  background-image: url("res://camera_rot");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.big-label {
  font-size: 30;
  font-family: monospace;
  font-weight: 700;
  background-color: #3a53ff;
  color: white;
  border-radius: 15;
  padding: 25 5 25 5;
  width: 40%;
}

@keyframes scanning {
  0% {
    transform: translate(0, 0%);
  }
  25% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 200%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.barcode-line {
  width: 80%;
  height: 2;
  vertical-align: top;
  background-color: #2196f3;
  animation-name: scanning;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
