<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout height="100%" width="100%">
    <StackLayout
      width="95%"
      verticalAlignment="middle"
      horizontalAlignment="center"
    >
      <Button class="buttons" text="Save Draft"></Button>
      <Button class="buttons" marginTop="3%" text="Take Pictures" (tap)="onTakePictures()"></Button>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
