<FlexboxLayout
  width="100%"
  height="73%"
  marginBottom="10%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout rows="auto" width="100%" height="100%">
    <StackLayout
      row="0"
      width="95%"
      marginTop="3%"
      horizantalAlignment="center"
    >
      <label class="label" text="Stock Errors :"></label>
      <!-- <TextView class="text-view"></TextView> -->
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Stock Errors"></Label>
  </StackLayout>
</GridLayout>
