<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout height="100%" width="100%" rows="auto,auto,auto,auto,*">
      <StackLayout
      row="0"
      width="95%"
      height="6%"
      marginTop="3%"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <DropDown
        color="black"
        fontSize="16"
        marginLeft="1%"
        [(ngModel)]="selectedBrandItem"
        [items]="brandNames"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Brand*"
      >
      </DropDown>
    </StackLayout>
      <Button row="1" width="95%" height="10%" class="buttons" marginTop="3%" text="Scan Item" (tap)="onScanItem()"></Button>
      <StackLayout row="2" class="drop-down-container">
          <DropDown
            color="black"
            marginLeft="1%"
            fontSize="16"
            [(ngModel)]="selectedBrandShelf"
            [items]="brandNames"
            (opened)="onopen()"
            (closed)="onclose()"
            hint="Brand*"
          >
          </DropDown>
        </StackLayout>
      <Button row="3" width="95%" height="10%" class="buttons" marginTop="3%" text="Scan Shelf" (tap)="onScanShelf()"></Button>
    <StackLayout row="4" verticalAlignment="bottom" marginTop="3%" horizontalAlignment="center">
        <label class="label" text="Shelve Inventory"></label>
      </StackLayout>
  </GridLayout>
</FlexboxLayout>
