.buttons {
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.buttons:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
.drop-down-container {
  height: 6%;
  width: 95%;
  margin-top: 3%;
  border-width: 1;
  border-radius: 5;
  vertical-align: middle;
}
.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
