.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.headingLabel{
  width:100%;
  font-size: 20;
  font-weight: 500;
  color: #2196f3;
  vertical-align: middle;
}
.switchLabel{
  width:70%;
  font-size: 16;
  color: black;
  vertical-align: middle;
}
.switchDisable{
  width:30%;
  background-color: #A9A9A9;
  color:#A9A9A9;
}
.switchEnable{
  width:30%;
  background-color: #2196f3;
  color:#2196f3;
}
.drop-down-container {
  height: 40;
  width: 100%;
  margin-top: 5;
  border-width: 1;
  border-radius: 5;
  vertical-align: middle;
}