<FlexboxLayout
  width="100%"
  height="78%"
  marginBottom="5%"
  marginTop="17%"
>
    <ScrollView width="100%" sdkExampleTitle sdkToggleNavButton>
      <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" width="95%" horizontalAlignment="center">
        <Label  class="headingLabel" text="Display Preferences :" textWrap="true" row="0"></Label>
        <Label  class="switchLabel" [text]="businessLabel" textWrap="true" row="1" horizontalAlignment="left"></Label>
        <Switch class={{businessSwitch}} checked="false" (checkedChange)="onBusinessSwitch($event)" row="1" horizontalAlignment="right"></Switch>
        <Label class="switchLabel" [text]="eBayPremiumLabel" textWrap="true" row="2" horizontalAlignment="left"></Label>
        <Switch class="{{eBayPremiumSwitch}}" checked="false" (checkedChange)="oneBayPremiumSwitch($event)" row="2" horizontalAlignment="right"></Switch>
        <Label  class="switchLabel" [text]="structuredDataLabel" textWrap="true" row="3" horizontalAlignment="left"></Label>
        <Switch class={{structuredSwitch}} checked="false" (checkedChange)="onStructuredDataSwitch($event)" row="3" horizontalAlignment="right"></Switch>
        <Label class="switchLabel" [text]="storeCategoryLabel" textWrap="true" row="4" horizontalAlignment="left"></Label>
        <Switch class="{{storeCategorySwitch}}" checked="false" (checkedChange)="onStoreCategorySwitch($event)" row="4" horizontalAlignment="right"></Switch>
        <Label  class="headingLabel" text="Defaults :" textWrap="true" marginTop="20" row="5" horizontalAlignment="left"></Label>
        <StackLayout row="6" class="drop-down-container">
          <DropDown
            color="black"
            marginLeft="1%"
            fontSize="16"
            [(ngModel)]="selectedListingType"
            [items]="listingTypes"
            (opened)="onopen()"
            (closed)="onclose()"
            hint="Listing Type"
          >
        </DropDown>
        </StackLayout>
        <StackLayout row="7" class="drop-down-container">
          <DropDown
            color="black"
            marginLeft="1%"
            fontSize="16"
            [(ngModel)]="selectedListingDuration"
            [items]="listingDuration"
            (opened)="onopen()"
            (closed)="onclose()"
            hint="Listing Duration"
          >
          </DropDown>
        </StackLayout>
        <Label class="switchLabel" [text]="makeOffersLabel" textWrap="true" row="8" marginTop="5" horizontalAlignment="left"></Label>
        <Switch class="{{makeOffersSwitch}}" checked="false" (checkedChange)="onMakeOffersSwitch($event)" row="8" marginTop="5" horizontalAlignment="right"></Switch>
        <Label class="switchLabel" [text]="globalShippingLabel" textWrap="true" row="9" horizontalAlignment="left"></Label>
        <Switch class="{{globalShippingSwitch}}" checked="false" (checkedChange)="onGlobalShippingSwitch($event)" row="9" horizontalAlignment="right"></Switch>
        <StackLayout row="10" class="drop-down-container">
          <DropDown
            color="black"
            marginLeft="1%"
            fontSize="16"
            [(ngModel)]="selectedPaymentPolicy"
            [items]="paymentPolicyType"
            (opened)="onopen()"
            (closed)="onclose()"
            hint="Payment Policy"
          >
          </DropDown>
        </StackLayout>
        <StackLayout row="11" class="drop-down-container">
          <DropDown
            color="black"
            marginLeft="1%"
            fontSize="16"
            [(ngModel)]="selectedReturnPolicy"
            [items]="returnPolicyType"
            (opened)="onopen()"
            (closed)="onclose()"
            hint="Return Policy"
          >
          </DropDown>
        </StackLayout>
        <StackLayout class="drop-down-container" row="12">
          <DropDown
            color="black"
            marginLeft="1%"
            fontSize="16"
            [(ngModel)]="selectedShippingPolicy"
            [items]="shippingPolicyType"
            (opened)="onopen()"
            (closed)="onclose()"
            hint="Shipping Policy"
          >
          </DropDown>
        </StackLayout>
      </GridLayout>
    </ScrollView>
</FlexboxLayout>
<GridLayout width="95%" verticalAlignment="bottom" horizontalAlignment="center">
  <label
    class="label"
    horizontalAlignment="center"
    verticalAlignment="bottom"
    text="Preferences and Defaults"
  ></label>
</GridLayout>
