<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<GridLayout width="100%" height="100%">
  <StackLayout *ngIf="showActionBar" class="action-bar">
    <Image class="action_image" src="res://logo_ebay"></Image>
  </StackLayout>
  <!-- <Button height="10%" width="100%" verticalAlignment="bottom"></Button> -->

  <GridLayout
    *ngIf="showTabs"
    width="100%"
    height="7%"
    marginTop="10%"
    verticalAlignment="top"
    columns="*,*,*"
    borderWidth="1"
    borderColor="black">
    <GridLayout col="0" height="100%" (tap)="tabClick1()" backgroundColor="{{colorTab1}}" borderRightWidth="1" borderRightColor="black">
        <Image height="80%" width="100%" src="{{tabImage1}}"> </Image>
    </GridLayout>
    <GridLayout col="1" height="100%" (tap)="tabClick2()" backgroundColor="{{colorTab2}}" borderRightWidth="1" borderRightColor="black">
        <Image height="80%" width="100%" src="{{tabImage2}}"> </Image>
    </GridLayout>
    <GridLayout col="2" height="100%" (tap)="tabClick3()" backgroundColor="{{colorTab3}}">
        <Image height="70%" width="100%" src="{{tabImage3}}"> </Image>
    </GridLayout>
  </GridLayout>

  <GridLayout *ngIf="showSwitch" width="90%" height="5%" verticalAlignment="top" horizontalAlignment="center" marginTop="17%">
    <Label  class="switchLabel" [text]="screenStatusLabel" color="{{switchLabelColor}}" textWrap="true" horizontalAlignment="left"></Label>
    <Switch class={{screenStatusSwitch}} checked="false" (checkedChange)="onSwitch($event)" horizontalAlignment="right"></Switch>
  </GridLayout>

  <GridLayout
    *ngIf="showDots"
    width="100%"
    height="5%"
    marginBottom="5%"
    verticalAlignment="bottom"
    columns="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto"
  >
    <StackLayout
      class="dot-container"
      col="0"
      marginLeft="1%"
      verticalAlignment="middle"
      (tap)="dotClick1()"
    >
      <Image src="{{ dotImage1 }}" class="dot-style" (tap)="dotClick1()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="1"
      verticalAlignment="middle"
      (tap)="dotClick2()"
    >
      <Image src="{{ dotImage2 }}" class="dot-style" (tap)="dotClick2()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="2"
      verticalAlignment="middle"
      (tap)="dotClick3()"
    >
      <Image src="{{ dotImage3 }}" class="dot-style" (tap)="dotClick3()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"  
      col="3"
      verticalAlignment="middle"
      (tap)="dotClick4()"
    >
      <Image src="{{ dotImage4 }}" class="dot-style"  (tap)="dotClick4()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="4"
      verticalAlignment="middle"
      (tap)="dotClick5()"
    >
      <Image src="{{ dotImage5 }}" class="dot-style" (tap)="dotClick5()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="5"
      verticalAlignment="middle"
      (tap)="dotClick6()"
    >
      <Image src="{{ dotImage6 }}" class="dot-style" (tap)="dotClick6()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="6"
      verticalAlignment="middle"
      (tap)="dotClick7()"
    >
      <Image src="{{ dotImage7 }}" class="dot-style" (tap)="dotClick7()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="7"
      verticalAlignment="middle"
      (tap)="dotClick8()"
    >
      <Image src="{{ dotImage8 }}" class="dot-style" (tap)="dotClick8()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="8"
      verticalAlignment="middle"
      (tap)="dotClick9()"
    >
      <Image src="{{ dotImage9 }}" class="dot-style" (tap)="dotClick9()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="9"
      verticalAlignment="middle"
      (tap)="dotClick10()"
    >
      <Image src="{{ dotImage10 }}" class="dot-style" (tap)="dotClick10()"> </Image>
    </StackLayout>
    <StackLayout
      class="dot-container"
      col="10"
      verticalAlignment="middle"
      (tap)="dotClick11()"
    >
      <Image src="{{ dotImage11 }}" class="dot-style" (tap)="dotClick11()"> </Image>
    </StackLayout>
    <!-- <StackLayout
      class="dot-container"
      col="11"
      verticalAlignment="middle"
      (tap)="dotClick12()"
    >
      <Image src="{{ dotImage12 }}" class="dot-style"> </Image>
    </StackLayout> -->
    <!-- <StackLayout
      col="12"
      width="7%"
      height="100%"
      verticalAlignment="middle"
      (tap)="dotClick13()"
    >
      <Image src="{{ dotImage13 }}" class="dot-style"> </Image>
    </StackLayout>
    <StackLayout
      col="13"
      width="7%"
      height="100%"
      verticalAlignment="middle"
      (tap)="dotClick14()"
    >
      <Image src="{{ dotImage14 }}" class="dot-style"> </Image>
    </StackLayout> -->
  </GridLayout>
  <router-outlet></router-outlet>
</GridLayout>
