.action-bar {
  background-color: #464646;
  height: 10%;
  vertical-align: top;
}
.action_image {
  height: 100%;
  width: 60%;
}
.dot-container{
  width:9%;
  height:100%;
}
.dot-style {
  width: 15;
  height: 15;
}
.switchLabel{
  width:70%;
  font-size: 16;
  vertical-align: middle;
}
.switchDisable{
  width:30%;
  background-color: #A9A9A9;
  color:#A9A9A9;
}
.switchEnable{
  width:30%;
  background-color: #2196f3;
  color:#2196f3;
}