<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
  xmlns:CheckBox="nativescript-checkbox"
>
  <GridLayout rows="auto,auto,auto,auto" height="100%" width="100%">
      <StackLayout row="0" height="7%" width="95%">
          <CheckBox:CheckBox
            checked="false"
            text="Select All"
            fillColor="{{ myCheckColor }}"
          />
      </StackLayout>
      <StackLayout row="1" class="check-box-container">
          <CheckBox:CheckBox
            checked="false"
            text="{{ listing1 }}"
            fillColor="{{ myCheckColor }}"
          />
    
          <CheckBox:CheckBox
            text="{{ listing2 }}"
            checked="false"
            fillColor="{{ myCheckColor }}"
          />
          <CheckBox:CheckBox
            text="{{ listing3 }}"
            checked="false"
            fillColor="{{ myCheckColor }}"
          />
          <CheckBox:CheckBox
            checked="false"
            text="{{ listing4 }}"
            fillColor="{{ myCheckColor }}"
          />
    
          <CheckBox:CheckBox
            text="{{ listing5 }}"
            checked="false"
            fillColor="{{ myCheckColor }}"
          />
          <CheckBox:CheckBox
            text="{{ listing6 }}"
            checked="false"
            fillColor="{{ myCheckColor }}"
          />
          <CheckBox:CheckBox
            checked="false"
            text="{{ listing7 }}"
            fillColor="{{ myCheckColor }}"
          />
    
          <CheckBox:CheckBox
            text="{{ listing8 }}"
            checked="false"
            fillColor="{{ myCheckColor }}"
          />
          <CheckBox:CheckBox
            text="{{ listing9 }}"
            checked="false"
            fillColor="{{ myCheckColor }}"
          />
          <CheckBox:CheckBox
            checked="false"
            text="{{ listing10 }}"
            fillColor="{{ myCheckColor }}"
          />
        </StackLayout>
        <StackLayout row="2" width="95%" height="10%" verticalAlignment="middle">
          <Button class="buttons" text="Proceed" (tap)="onProceed()"></Button>
        </StackLayout>
        <StackLayout row="3" height="10%" horizontalAlignment="center" verticalAlignment="bottom">
            <label class="label" text="Submit Listings"></label>
          </StackLayout>
  </GridLayout>
</FlexboxLayout>
