.listingButton {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-width: 1;
  border-radius: 10;
  border-color: black;
  text-transform: none;
}

.listingButton:active{
  background-color:white;
  color:#2196f3;
}

.warehouseButton{
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-width: 1;
  border-radius: 10;
  border-color: black;
  text-transform: none;
}

.warehouseButton:active{
  background-color:white;
  color:#2196f3;
}

.check-box-container {
  width: 95%;
  height:73%;
}
.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.buttons {
  height:100%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.buttons:active{
  background-color:white;
  color:#2196f3;
  border-width: 1;
  border-color: black;
}
