<FlexboxLayout width="100%" height="83%" marginTop="17%">
  <GridLayout rows="auto,auto,auto,auto,auto" width="100%" height="100%">
    <GridLayout row="0" width="95%" height="10%" horizontalAlignment="center">
      <StackLayout verticalAlignment="middle" horizontalAlignment="right" (tap)="onDeleteAll()">
        <label class="label" text="Delete all"></label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="1" rows="auto,auto,auto,auto" width="95%" height="60%">
      <GridLayout
        row="0"
        columns="auto,auto,auto"
        width="100%"
        height="25%"
        horizontalAlignment="center"
      >
        <StackLayout col="0" class="image-container">
          <Image
            src="{{ myImage1 }}"
            stretch="{{ stretch1 }}"
            (tap)="photoUpload1()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete1"
          col="0"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage1 }}"
            stretch="aspectFit"
            (tap)="photoDelete1()"
          ></Image>
        </StackLayout>
        <StackLayout col="1" class="image-container">
          <Image
            src="{{ myImage2 }}"
            stretch="{{ stretch2 }}"
            (tap)="photoUpload2()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete2"
          col="1"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage2 }}"
            stretch="aspectFit"
            (tap)="photoDelete2()"
          ></Image>
        </StackLayout>
        <StackLayout col="2" class="image-container">
          <Image
            src="{{ myImage3 }}"
            stretch="{{ stretch3 }}"
            (tap)="photoUpload3()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete3"
          col="2"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage3 }}"
            stretch="aspectFit"
            (tap)="photoDelete3()"
          ></Image>
        </StackLayout>
      </GridLayout>

      <GridLayout
        row="1"
        columns="auto,auto,auto"
        width="100%"
        height="25%"
        horizontalAlignment="center"
      >
        <StackLayout col="0" class="image-container">
          <Image
            src="{{ myImage4 }}"
            stretch="{{ stretch4 }}"
            (tap)="photoUpload4()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete4"
          col="0"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage4 }}"
            stretch="aspectFit"
            (tap)="photoDelete4()"
          ></Image>
        </StackLayout>
        <StackLayout col="1" class="image-container">
          <Image
            src="{{ myImage5 }}"
            stretch="{{ stretch5 }}"
            (tap)="photoUpload5()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete5"
          col="1"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage5 }}"
            stretch="aspectFit"
            (tap)="photoDelete5()"
          ></Image>
        </StackLayout>
        <StackLayout col="2" class="image-container">
          <Image
            src="{{ myImage6 }}"
            stretch="{{ stretch6 }}"
            (tap)="photoUpload6()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete6"
          col="2"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage6 }}"
            stretch="aspectFit"
            (tap)="photoDelete6()"
          ></Image>
        </StackLayout>
      </GridLayout>

      <GridLayout
        row="2"
        columns="auto,auto,auto"
        width="100%"
        height="25%"
        horizontalAlignment="center"
      >
        <StackLayout col="0" class="image-container">
          <Image
            src="{{ myImage7 }}"
            stretch="{{ stretch7 }}"
            (tap)="photoUpload7()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete7"
          col="0"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage7 }}"
            stretch="aspectFit"
            (tap)="photoDelete7()"
          ></Image>
        </StackLayout>
        <StackLayout col="1" class="image-container">
          <Image
            src="{{ myImage8 }}"
            stretch="{{ stretch8 }}"
            (tap)="photoUpload8()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete8"
          col="1"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage8 }}"
            stretch="aspectFit"
            (tap)="photoDelete8()"
          ></Image>
        </StackLayout>
        <StackLayout col="2" class="image-container">
          <Image
            src="{{ myImage9 }}"
            stretch="{{ stretch9 }}"
            (tap)="photoUpload9()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete9"
          col="2"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage9 }}"
            stretch="aspectFit"
            (tap)="photoDelete9()"
          ></Image>
        </StackLayout>
      </GridLayout>
      <GridLayout
        row="3"
        columns="auto,auto,auto"
        width="100%"
        height="25%"
        horizontalAlignment="center"
      >
        <StackLayout col="0" class="image-container">
          <Image
            src="{{ myImage10 }}"
            stretch="{{ stretch10 }}"
            (tap)="photoUpload10()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete10"
          col="0"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage10 }}"
            stretch="aspectFit"
            (tap)="photoDelete10()"
          ></Image>
        </StackLayout>
        <StackLayout col="1" class="image-container">
          <Image
            src="{{ myImage11 }}"
            stretch="{{ stretch11 }}"
            (tap)="photoUpload11()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete11"
          col="1"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage11 }}"
            stretch="aspectFit"
            (tap)="photoDelete11()"
          ></Image>
        </StackLayout>
        <StackLayout col="2" class="image-container">
          <Image
            src="{{ myImage12 }}"
            stretch="{{ stretch12 }}"
            (tap)="photoUpload12()"
          ></Image>
        </StackLayout>
        <StackLayout
          *ngIf="showDelete12"
          col="2"
          verticalAlignment="top"
          horizontalAlignment="right"
          class="delete-container"
        >
          <Image
            src="{{ deleteImage12 }}"
            stretch="aspectFit"
            (tap)="photoDelete12()"
          ></Image>
        </StackLayout>
      </GridLayout>
    </GridLayout>
    <GridLayout row="2" width="95%" height="10%">
      <StackLayout verticalAlignment="middle">
        <Label
          class="text-style"
          text="Add up to 12 photos. We don't allow photos with extra borders, text or artwork."
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="3" width="95%" height="10%">
        <StackLayout
        width="100%"
        height="100%"
        verticalAlignment="middle"
        horizontalAlignment="center"
      >
      <Button class="buttons" text="Proceed" (tap)="onProceed()"></Button>
      </StackLayout>
    </GridLayout>
    <GridLayout row="4" width="95%" height="10%">
      <StackLayout verticalAlignment="bottom" horizontalAlignment="center">
        <label class="label" text="Take Pictures"></label>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
