.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.image-container {
  height: 100%;
  width: 33.33%;
  border-color: #8c8c8c;
  border-radius: 1;
  border-width: 1;
}
.delete-container {
  margin-top:5%;
  height: 30%;
  width: 10%;
}
.text-style {
  font-size: 16px;
  color: black;
  white-space: normal;
  text-align: center;
}
.buttons {
  height:100%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.buttons:active{
  background-color:white;
  color:#2196f3;
  border-width: 1;
  border-color: black;
}