.buttons {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.buttons:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
