<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout height="100%" width="100%">
    <StackLayout
      width="95%"
      height="100%"
      verticalAlignment="middle"
      horizontalAlignment="center"
    >
      <Button class="buttons" text="Account Details" (tap)="onAccountDetails()"></Button>
      <Button class="buttons" marginTop="3%" text="eBay Account" (tap)="onEbayAccount()"></Button>
      <Button class="buttons" marginTop="3%" text="Picture Hosting **" (tap)="onPictureHosting()"></Button>
      <Button class="buttons" marginTop="3%" text="Preferences" (tap)="onPreferences()"></Button>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
