<FlexboxLayout
  width="100%"
  height="68%"
  marginBottom="10%"
  marginTop="22%"
  (swipe)="onSwipe($event)"
>
  <GridLayout width="100%" height="100%" rows="auto,auto,auto,auto,auto">
    <GridLayout
      row="0"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ category1 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ category1 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="categoryClick1()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="category-style"
          text="{{ storeCategory1 }}"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="1"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ category2 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ category2 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="categoryClick2()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="category-style"
          text="{{ storeCategory2 }}"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="2"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ category3 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ category3 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="categoryClick3()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="category-style"
          text="{{ storeCategory3 }}"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="3"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ category4 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ category4 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="categoryClick4()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="category-style"
          text="{{ storeCategory4 }}"
        ></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="4"
      marginTop="3%"
      width="95%"
      horizontalAlignment="center"
      columns="auto,auto"
    >
      <StackLayout col="0" width="10%">
        <Image
          horizontalAlignment="left"
          verticalAlignment="middle"
          src="{{ category5 ? 'res://radioon' : 'res://dotgrey' }}"
          class="{{ category5 ? 'radio-on-style' : 'radio-off-style' }}"
          (tap)="categoryClick5()"
        >
        </Image>
      </StackLayout>
      <StackLayout col="1" width="90%">
        <Label
          col="1"
          horizontalAlignment="left"
          verticalAlignment="middle"
          class="category-style"
          text="{{ storeCategory5 }}"
        ></Label>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="label" text="Store Categories"></Label>
  </StackLayout>
</GridLayout>
