<FlexboxLayout
  width="100%"
  height="68%"
  marginBottom="10%"
  marginTop="22%"
  (swipe)="onSwipe($event)"
>
  <GridLayout height="100%" width="100%" rows="auto,auto,auto,auto,auto,auto">
    <StackLayout
      row="0"
      width="95%"
      height="10%"
      marginTop="3%"
      horizantalAlignment="center"
    >
      <label class="label" text="Payment Policy"></label>
    </StackLayout>
    <StackLayout
      row="1"
      height="7%"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <DropDown
        color="black"
        fontSize="16"
        [items]="paymentPolicyType"
        (selectedIndexChanged)="onPaymentPolicyChange($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Select Payment Policy"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="2" width="95%" height="27%" marginTop="2%" horizantalAlignment="center">
      <ScrollView
        borderColor="#C5C6C5"
        borderWidth="1"
        orientation="vertical"
        sdkExampleTitle
        sdkToggleNavButton
      >
        <Label
          class="h3"
          width="95%"
          textWrap="true"
          text={{paymentPolicyDetail}}
        ></Label>
      </ScrollView>
    </StackLayout>
    <StackLayout
      row="3"
      width="95%"
      height="10%"
      marginTop="3%"
      horizantalAlignment="center"
    >
      <label class="label" text="Return Policy"></label>
    </StackLayout>
    <StackLayout
      row="4"
      height="7%"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <DropDown
        color="black"
        fontSize="16"
        [items]="returnPolicyType"
        (selectedIndexChanged)="onReturnPolicyChange($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Select Return Policy"
      >
      </DropDown>
    </StackLayout>
    <StackLayout row="5" width="95%" height="27%" marginTop="2%" horizantalAlignment="center">
      <ScrollView
        borderColor="#C5C6C5"
        borderWidth="1"
        orientation="vertical"
        sdkExampleTitle
        sdkToggleNavButton
      >
        <Label
          class="h3"
          width="95%"
          textWrap="true"
          text={{returnPolicyDetail}}
        ></Label>
      </ScrollView>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Business Policies"></Label>
  </StackLayout>
</GridLayout>
