.drop-down-container {
  height: 8%;
  width: 95%;
  margin-top: 5%;
  border-width: 1;
  border-radius: 5;
  vertical-align: middle;
}
.dimension-container {
  height: 8%;
  width: 95%;
  vertical-align: middle;
}
.weight-container {
  height: 8%;
  width: 95%;
  margin-top: 3%;
  vertical-align: middle;
}
.label {
  width: 100%;
  color: black;
  font-size: 24%;
  font-weight: 500;
  margin-top: 5%;
}
.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
.dimension-label {
  font-size: 12px;
  color: black;
}
