<FlexboxLayout
  width="100%"
  height="68%"
  marginBottom="10%"
  marginTop="22%"
  (swipe)="onSwipe($event)"
>
  <GridLayout rows="auto,auto,auto,auto,auto,auto" height="100%" width="100%">
    <GridLayout
      row="0"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <StackLayout
        width="95%"
        horizontalAlignment="center"
        verticalAlignment="middle"
      >
        <DropDown
          color="black"
          fontSize="16"
          [items]="packageType"
          [(ngModel)]="selectedPackageIndex"
          hint="Select Package Type"
        >
        </DropDown>
      </StackLayout>
    </GridLayout>
    <GridLayout
      row="1"
      height="5%"
      width="95%"
      marginTop="3%"
      verticalAlignment="middle"
      columns="auto,auto,auto"
    >
      <GridLayout col="0" width="33%">
        <StackLayout horizontalAlignment="left">
          <Label text="Length" color="black" fontSize="16"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout col="1" width="33%">
        <StackLayout horizontalAlignment="left">
          <Label text="Width" color="black" fontSize="16"></Label>
        </StackLayout>
      </GridLayout>
      <GridLayout col="2" width="33%">
        <StackLayout horizontalAlignment="left">
          <Label text="Height" color="black" fontSize="16"></Label>
        </StackLayout>
      </GridLayout>
    </GridLayout>
    <GridLayout
      row="2"
      columns="auto,auto,auto,auto,auto,auto"
      class="dimension-container"
    >
      <GridLayout
        col="0"
        width="22%"
        horizontalAlignment="center"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="black"
      >
        <StackLayout
          width="100%"
          horizontalAlignment="center"
          verticalAlignment="middle"
        >
          <DropDown
            color="black"
            fontSize="16"
            [items]="dimension"
            [(ngModel)]="selectedDimensionIndex1"
            hint="00"
          >
          </DropDown>
        </StackLayout>
      </GridLayout>
      <StackLayout
        col="1"
        marginLeft="1%"
        width="10%"
        height="100%"
        verticalAlignment="middle"
      >
        <Label
          horizontalAlignment="center"
          verticalAlignment="middle"
          class="dimension-label"
          text="cm x"
        ></Label>
      </StackLayout>
      <GridLayout
        col="2"
        width="22%"
        horizontalAlignment="center"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="black"
      >
        <StackLayout
          width="100%"
          horizontalAlignment="center"
          verticalAlignment="middle"
        >
          <DropDown
            color="black"
            fontSize="16"
            [items]="dimension"
            [(ngModel)]="selectedDimensionIndex2"
            hint="00"
          >
          </DropDown>
        </StackLayout>
      </GridLayout>
      <StackLayout
        col="3"
        marginLeft="1%"
        width="10%"
        height="100%"
        verticalAlignment="middle"
      >
        <Label
          col="1"
          horizontalAlignment="center"
          verticalAlignment="middle"
          class="dimension-label"
          text="cm x"
        ></Label>
      </StackLayout>
      <GridLayout
        col="4"
        width="22%"
        horizontalAlignment="center"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="black"
      >
        <StackLayout
          width="100%"
          horizontalAlignment="center"
          verticalAlignment="middle"
        >
          <DropDown
            color="black"
            fontSize="16"
            [items]="dimension"
            [(ngModel)]="selectedDimensionIndex3"
            hint="00"
          >
          </DropDown>
        </StackLayout>
      </GridLayout>
      <StackLayout
        col="5"
        marginLeft="1%"
        width="8%"
        height="100%"
        verticalAlignment="middle"
      >
        <Label
          col="1"
          horizontalAlignment="center"
          verticalAlignment="middle"
          class="dimension-label"
          text="cm"
        >
        </Label>
      </StackLayout>
    </GridLayout>
    <!-- <StackLayout
      row="2"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <DropDown
        [items]="customWeight"
        [(ngModel)]="selectedWeightIndex"
        (selectedIndexChanged)="onchange($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Custom weight"
      >
      </DropDown>
    </StackLayout> -->
    <GridLayout
      row="3"
      class="drop-down-container"
      horizontalAlignment="center"
    >
      <StackLayout
        width="95%"
        horizontalAlignment="center"
        verticalAlignment="middle"
      >
        <DropDown
          color="black"
          fontSize="16"
          [items]="customWeight"
          [(ngModel)]="selectedWeightIndex"
          hint="Custom Weight"
        >
        </DropDown>
      </StackLayout>
    </GridLayout>
    <GridLayout row="4" columns="auto,auto,auto,auto" class="weight-container">
      <GridLayout
        col="0"
        width="39%"
        horizontalAlignment="center"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="black"
      >
        <StackLayout
          width="95%"
          horizontalAlignment="center"
          verticalAlignment="middle"
        >
          <DropDown
            color="black"
            fontSize="16"
            [items]="weight"
            [(ngModel)]="selectedWeightIndex1"
            hint="00"
          >
          </DropDown>
        </StackLayout>
      </GridLayout>
      <StackLayout
        col="1"
        marginLeft="1%"
        width="10%"
        height="100%"
        verticalAlignment="middle"
      >
        <Label
          col="1"
          horizontalAlignment="center"
          verticalAlignment="middle"
          class="dimension-label"
          text="kg"
        ></Label>
      </StackLayout>
      <GridLayout
        col="2"
        width="39%"
        horizontalAlignment="center"
        borderWidth="2px"
        borderRadius="5px"
        borderColor="black"
      >
        <StackLayout
          width="95%"
          horizontalAlignment="center"
          verticalAlignment="middle"
        >
          <DropDown
            color="black"
            fontSize="16"
            [items]="weight"
            [(ngModel)]="selectedWeightIndex2"
            hint="00"
          >
          </DropDown>
        </StackLayout>
      </GridLayout>
      <StackLayout
        col="3"
        marginLeft="1%"
        width="8%"
        height="100%"
        verticalAlignment="middle"
      >
        <Label
          col="1"
          horizontalAlignment="center"
          verticalAlignment="middle"
          class="dimension-label"
          text="g"
        ></Label>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Size and Weight"></Label>
  </StackLayout>
</GridLayout>
