<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout height="100%" width="100%">
    <StackLayout
      width="95%"
      height="100%"
      verticalAlignment="middle"
      horizontalAlignment="center"
    >
      <Button class="buttons" text="Shelve Inventory" (tap)="onShelveInventory()"></Button>
      <Button class="buttons" marginTop="3%" text="Item Details" (tap)="onItemDetails()"></Button>
      <Button class="buttons" marginTop="3%" text="Find Item" (tap)="onFindItems()"></Button>
      <Button class="buttons" marginTop="3%" text="Ship Items" (tap)="onShipItems()"></Button>
      <Button class="buttons" marginTop="3%" text="Take Stock" (tap)="onTakeStock()"></Button>
      <Button class="buttons" marginTop="3%" text="Stock Errors **" (tap)="onStockErrors()"></Button>
    </StackLayout>
    <StackLayout verticalAlignment="bottom" horizontalAlignment="center">
        <label class="label" text="Manage Warehouse"></label>
      </StackLayout>
  </GridLayout>
</FlexboxLayout>
