<FlexboxLayout
  width="100%"
  height="68%"
  marginBottom="10%"
  marginTop="22%"
  (swipe)="onSwipe($event)"
>
  <GridLayout rows="auto" width="100%" height="100%">
    <StackLayout
      row="0"
      width="95%"
      height="40%"
      marginTop="3%"
      horizantalAlignment="center"
    >
      <label class="label" text="Item Description*"></label>
      <TextView class="text-view"></TextView>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
<GridLayout width="95%" horizontalAlignment="center">
  <StackLayout horizontalAlignment="center" verticalAlignment="bottom">
    <Label class="bottom-label" text="Description"></Label>
  </StackLayout>
</GridLayout>
