.label {
  color: black;
  font-size: 24%;
  font-weight: 500;
  height: 20%;
  margin-top: 5%;
}
.bottom-label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}

.text-view {
  border-width: 1;
  margin-top: 3%;
  width: 100%;
  height: 72%;
  border-color: black;
}
