<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <!-- <StackLayout
    #otpDialog
    style.zIndex="999"
    modal
    size="md"
    alignment="middle"
    duration="100"
  >
    <GridLayout
      borderRadius="20"
      rows="auto,auto,auto,auto,auto"
      class="p-t-15 bg-white"
    >
      <Label
        class="text-center"
        marginTop="10"
        marginBottom="10"
        row="0"
        text="Share NCCT Head of patient xyz[UID: 123qwe]"
        color="#333333"
      ></Label>
      <Label
        class="text-center"
        marginBottom="10"
        row="1"
        text="with something something"
        color="#333333"
      ></Label>
      <Label
        class="text-center"
        marginBottom="15"
        row="2"
        text="Super Speciality Hospital xyz."
        color="#333333"
      ></Label>

      <StackLayout row="3" width="80%" backgroundColor="transparent">
        <Image class="done-icon" src="res://done"></Image>
      </StackLayout>

      <StackLayout row="4" class="login-button-container" marginBottom="15">
        <Button
          text="Done"
          class="login-button"
          (tap)="onDone()"
          ng-click="showme=true"
        ></Button>
      </StackLayout>
    </GridLayout>
  </StackLayout> -->

  <GridLayout width="100%" height="100%" rows="auto,auto,auto">
    <GridLayout
      backgroundColor="#8C8C8C"
      width="100%"
      height="65%"
      marginTop="2%"
      row="0"
      rows="auto,auto,auto"
    >
      <GridLayout row="0" width="95%" height="15%" horizontalAlignment="center">
        <StackLayout horizontalAlignment="center" verticalAlignment="middle">
          <label
            color="white"
            fontSize="20"
            fontWeight="500"
            text="Scan Barcode"
          ></label>
        </StackLayout>
      </GridLayout>

      <MLKitBarcodeScanner
        row="1"
        width="80%"
        height="70%"
        formats="QR_CODE, EAN_8, EAN_13"
        [preferFrontCamera]="isFrontCamera"
        [torchOn]="torchOn"
      >
      </MLKitBarcodeScanner>
      <StackLayout
        row="1"
        width="50"
        height="2"
        marginLeft="10%"
        horizontalAlignment="left"
        verticalAlignment="top"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="50"
        height="2"
        marginRight="10%"
        horizontalAlignment="right"
        verticalAlignment="top"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="2"
        height="50"
        marginLeft="10%"
        horizontalAlignment="left"
        verticalAlignment="top"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="2"
        height="50"
        marginRight="10%"
        horizontalAlignment="right"
        verticalAlignment="top"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="50"
        height="2"
        marginLeft="10%"
        horizontalAlignment="left"
        verticalAlignment="bottom"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="50"
        height="2"
        marginRight="10%"
        horizontalAlignment="right"
        verticalAlignment="bottom"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="2"
        height="50"
        marginLeft="10%"
        horizontalAlignment="left"
        verticalAlignment="bottom"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        row="1"
        width="2"
        height="50"
        marginRight="10%"
        horizontalAlignment="right"
        verticalAlignment="bottom"
        backgroundColor="#2196f3"
      ></StackLayout>
      <StackLayout
        id="barcodeline"
        row="1"
        width="80%"
        height="2"
        backgroundColor="#2196f3"
      ></StackLayout>

      <GridLayout row="2" width="100%" height="15%" rows="auto,auto">
        <GridLayout row="1" width="100%" height="100%" columns="*,*">
          <StackLayout
            col="0"
            horizontalAlignment="left"
            verticalAlignment="middle"
            marginLeft="2%"
          >
            <Image
              [class]="flashClass"
              height="90%"
              width="15%"
              (tap)="onFlashSelect()"
              src="res://flash"
              stretch="aspectFit"
            ></Image>
          </StackLayout>
          <StackLayout
            col="1"
            horizontalAlignment="right"
            verticalAlignment="middle"
            marginRight="2%"
          >
            <Image
              [class]="cameraClass"
              height="80%"
              width="20%"
              (tap)="onCameraSelect()"
              src="res://camera_rot"
              stretch="aspectFit"
            ></Image>
          </StackLayout>
        </GridLayout>
      </GridLayout>
    </GridLayout>
    <GridLayout
      row="1"
      rows="auto,auto,auto"
      width="95%"
      height="28%"
      horizontalAlignment="center"
    >
    <StackLayout row="0" class="drop-down-container">
      <DropDown
        color="black"
        marginLeft="1%"
        fontSize="16"
        [(ngModel)]="selectedBrand"
        [items]="brandNames"
        (opened)="onopen()"
        (closed)="onclose()"
        hint="Brand*"
      >
      </DropDown>
    </StackLayout>
      <TextInputLayout
        row="1"
        color="black"
        marginTop="5%"
        height="40%"
        style.placeholderColor="#8C8C8C"
        hint="Enter Location"
        hintAnimationEnabled="true"
      >
        <TextField color="black"></TextField>
      </TextInputLayout>
      <!-- <StackLayout row="2" height="22%" width="100%" marginTop="3%">
        
      </StackLayout> -->
      <Button row="2" width="100%" height="27%" class="buttons" marginTop="3%" text="Find Item" (tap)="onFindItem()"></Button>
    </GridLayout>
    <GridLayout row="2" height="5%" width="95%" horizontalAlignment="center">
      <label
        class="label"
        horizontalAlignment="center"
        verticalAlignment="bottom"
        text="Inventory Location"
      ></label>
    </GridLayout>
    
    <!-- <GridLayout width="100%" height="100%" rows="auto,auto,auto">
    <StackLayout
      #otpDialog
      style.zIndex="999"
      row="0"
      modal
      size="md"
      alignment="middle"
      duration="100"
    >
      <GridLayout
        borderRadius="20"
        rows="auto,auto,auto,auto,auto"
        class="p-t-15 bg-white"
      >
        <Label
          class="text-center"
          marginTop="10"
          marginBottom="10"
          row="0"
          text="Share NCCT Head of patient xyz[UID: 123qwe]"
          color="#333333"
        ></Label>
        <Label
          class="text-center"
          marginBottom="10"
          row="1"
          text="with something something"
          color="#333333"
        ></Label>
        <Label
          class="text-center"
          marginBottom="15"
          row="2"
          text="Super Speciality Hospital xyz."
          color="#333333"
        ></Label>

        <StackLayout row="3" width="80%" backgroundColor="transparent">
          <Image class="done-icon" src="res://done"></Image>
        </StackLayout>

        <StackLayout row="4" class="login-button-container" marginBottom="15">
          <Button
            text="Done"
            class="login-button"
            (tap)="onDone()"
            ng-click="showme=true"
          ></Button>
        </StackLayout>
      </GridLayout>
    </StackLayout>

    <GridLayout
      width="100%"
      height="20%"
      marginTop="3px"
      row="0"
      backgroundColor="#5088ff"
    >
    </GridLayout>

    <GridLayout
      width="100%"
      height="70%"
      marginTop="4px"
      row="1"
      verticalAlignment="bottom"
    >
      <MLKitBarcodeScanner
        width="100%"
        height="100%"
        formats="QR_CODE, EAN_8, EAN_13"
        [preferFrontCamera]="isFrontCamera"
        [torchOn]="torchOn"
        (scanResult)="onBarcodeScanningResult($event)
      >
      </MLKitBarcodeScanner>

      <GridLayout
        width="100%"
        height="15%"
        verticalAlignment="bottom"
        rows="auto,auto"
      >
        <StackLayout row="0" backgroundColor="white" width="95%" height="2px">
        </StackLayout>
        <GridLayout row="1" width="100%" height="100%" columns="*,*">
          <Button
            [class]="flashClass"
            col="0"
            height="40%"
            width="8%"
            (tap)="onFlashSelect()"
            horizontalAlignment="left"
            marginLeft="2%"
          ></Button>
          <Button
            [class]="cameraClass"
            col="1"
            height="40%"
            width="8%"
            (tap)="onCameraSelect()"
            backgroundImage="res://camera_rot"
            horizontalAlignment="right"
            marginRight="2%"
          ></Button>
        </GridLayout>
      </GridLayout>
    </GridLayout>
  </GridLayout> -->
  </GridLayout>
</FlexboxLayout>