.radio-on-style {
  width: 20;
  height: 20;
}

.radio-off-style {
  width: 20;
  height: 20;
}

.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}

.category-style {
  font-size: 16px;
  color: black;
}
