.grid-container {
  background-color: white;
}

.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}

.categoryList {
  color: #2196f3;
  font-size: 14%;
  margin-top: 5%;
}

.action-bar {
  background-color: #464646;
}

.action_image {
  height: 60;
  width: 60%;
}
