<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
  (swipe)="onSwipe($event)"
>
  <GridLayout height="100%" width="100%" rows="auto,auto">
    <StackLayout
      row="0"
      width="95%"
      height="95%"
      horizontalAlignment="center"
    >
      <ListView
        [items]="items"
        (itemTap)="onCategoryTap1($event)"
        height="100%"
        separatorColor="gray"
      >
        <ng-template let-item="item">
          <GridLayout rows="auto,auto">
            <Label
              row="0"
              horizontalAlignment="center"
              verticalAlignment="middle"
              height="30"
              fontSize="20"
              textAlign="center"
              color="black"
              fontWeight="500"
              [text]="item.title"
            ></Label>
          <GridLayout row="1" columns="auto,auto,auto,*">
              <Label
              col="0"
              horizontalAlignment="left"
              fontSize="16"
              textAlign="center"
              color="#2196f3"
              fontWeight="500"
              text="Quantity : "
            ></Label>
              <Label
              col="1"
              horizontalAlignment="left"
              width="20"
              fontSize="16"
              textAlign="center"
              color="black"
              [text]="item.quantity"
            ></Label>
            <Label
              col="2"
              horizontalAlignment="left"
              marginLeft="5"
              fontSize="16"
              textAlign="center"
              color="#2196f3"
              textWrap="true"
              fontWeight="500"
              text="Location : "
            ></Label>
            <Label
              col="3"
              horizontalAlignment="left"
              fontSize="16"
              textAlign="center"
              color="black"
              textWrap="true"
              [text]="item.location"
            ></Label>
          </GridLayout>
          </GridLayout>
        </ng-template>
      </ListView>
    </StackLayout>
    <StackLayout row="1" height="5%" horizontalAlignment="center" verticalAlignment="bottom">
        <Label class="label" text="Ship Items"></Label>
    </StackLayout>
  </GridLayout>
</FlexboxLayout>
