<FlexboxLayout
  width="100%"
  height="83%"
  marginTop="17%"
>
  <GridLayout height="100%" width="100%">
    <StackLayout
      width="95%"
      height="100%"
      verticalAlignment="middle"
      horizontalAlignment="center"
    >
      <Button class="newListing" text="New Listing" (tap)="onNewListing()"></Button>
      <Button class="listingTemplate" marginTop="3%" text="New Listing with Template" (tap)="onNewTemplateListing()"></Button>
      <Button class="takePictures" marginTop="3%" text="Take Pictures" (tap)="onTakePictures()"></Button>
      <Button class="submitListing" marginTop="3%" text="Submit Listings" (tap)="onSubmitListings()"></Button>
      <Button class="editListing" marginTop="3%" text="Edit Listings" (tap)="onEditListings()"></Button>
    </StackLayout>
    <StackLayout verticalAlignment="bottom" horizontalAlignment="center">
        <label class="label" text="Create Listings"></label>
      </StackLayout>
  </GridLayout>
</FlexboxLayout>
