.newListing {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.newListing:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
.listingTemplate {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.listingTemplate:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
.takePictures {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.takePictures:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
.submitListing {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
 
}
.submitListing:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
.editListing {
  height:10%;
  color: white;
  background-color:#2196f3;
  font-size: 16;
  font-weight: 500;
  border-radius: 10;
  text-transform: none;
}
.editListing:active{
  background-color:white;
  color:#2196f3;
  border-color:black;
  border-width:1;
}
.label {
  color: #2196f3;
  font-size: 20;
  font-weight: 500;
}
